body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.main {
  background: rgba(0,0,0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  top: 40vh;
  left: 10vw;
  height: auto;
  width: 80vw;
  margin: 0;
  color: #f00; /*#0f0*/
  font-family: courier;
  font-size: 32px;
  font-weight: 600;
  z-index: 100;
  padding: 0;
  text-align: center;
  padding: 3px 10px;
  animation: fadeIn 10s 1;
}
@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 0;
    filter: blur(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    filter: blur();
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
    filter: blur();
  }
  90% {
    transform: scale(1.5);
    opacity: 1;
    filter: blur();
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    filter: blur();
  }
}
.blink {
  /* -webkit-animation: blinktext 1s infinite; */
  animation: blinktext 1s infinite;
  display: inline-block;
}
@keyframes blinktext {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#matrix-rain {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  position: absolute;
  top: 0;
  left: 0;
  animation: zoom 10s 1;
}

#matrix-lead {
  position: absolute;
  color: #b0ffee;
  top: 0;
  left: 0;
  z-index: 1;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  animation: zoom 10s 1;
}

@keyframes zoom {
  0% {
    transform: scale(-1, 1);
    opacity: 0;
    left: 0;
    filter: blur(0.5);
  }
  20% {
    transform: scale(-1, 1);
    opacity: 1;
    left: 0;
    filter: blur(0);
  }
  50% {
    transform: scale(-1, 1);
    opacity: 1;
    left: 0;
  }
  100% {
    transform: scale(-3, 3);
    opacity: 0;
    left: 33vw;
    filter: blur(0.5);
  }
}

#matrix-title {
  position: absolute;
  color: #b0ffee;
  top: 0;
  left: 0;
  z-index: 10;
}