<template>
  <div class="rain">
    <canvas id="matrix-title" />
    <canvas id="matrix-lead" />
    <canvas id="matrix-rain" />
  </div>
</template>

<script>
import letitrain from './letitrain'
import './rain.css'

export default {
  name: 'Rain',
  props: {
    // title: 'DevMayCry'
  },
  mounted: () => {
    letitrain()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
