#matrix-rain {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  position: absolute;
  top: 0;
  left: 0;
  animation: zoom 10s 1;
}

#matrix-lead {
  position: absolute;
  color: #b0ffee;
  top: 0;
  left: 0;
  z-index: 1;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  animation: zoom 10s 1;
}

@keyframes zoom {
  0% {
    transform: scale(-1, 1);
    opacity: 0;
    left: 0;
    filter: blur(0.5);
  }
  20% {
    transform: scale(-1, 1);
    opacity: 1;
    left: 0;
    filter: blur(0);
  }
  50% {
    transform: scale(-1, 1);
    opacity: 1;
    left: 0;
  }
  100% {
    transform: scale(-3, 3);
    opacity: 0;
    left: 33vw;
    filter: blur(0.5);
  }
}


#matrix-title {
  position: absolute;
  color: #b0ffee;
  top: 0;
  left: 0;
  z-index: 10;
}