<template>
<div class="time">
  $ <span id="time">dmc time</span><span class="blink">_</span>
</div>
</template>


<script>
import updateTime from './time'
import './time.css'

let startTimer;

export default {
  name: 'Time',
  props: {
    // title: 'DevMayCry'
  },
  mounted: () => {
    window.clearTimeout(startTimer);
    startTimer = window.setTimeout(() => {
      updateTime();
    }, 1000);
  }
}
</script>