.time {
  background: rgba(0,0,0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  top: 40vh;
  left: 10vw;
  height: auto;
  width: 80vw;
  margin: 0;
  color: #f00; /*#0f0*/
  font-family: courier;
  font-size: 32px;
  font-weight: 600;
  z-index: 100;
  padding: 0;
  text-align: center;
  padding: 3px 10px;
  animation: fadeIn 10s 1;
}
@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 0;
    filter: blur(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    filter: blur();
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
    filter: blur();
  }
  90% {
    transform: scale(1.5);
    opacity: 1;
    filter: blur();
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    filter: blur();
  }
}
.blink {
  /* -webkit-animation: blinktext 1s infinite; */
  animation: blinktext 1s infinite;
  display: inline-block;
}
@keyframes blinktext {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}