<template>
  <div id="app">
    <Time />
    <Rain />
  </div>
</template>

<script>
import Rain from '@/components/Rain'
import Time from '@/components/Time'

export default {
  name: 'app',
  components: {
    Rain,
    Time
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
</style>
